@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  background-color: #212F45;
   color:#00A0A3;
 }

 .spacing {
   padding: 20px;
 }

 *::after, *::before {
   box-sizing: border-box;
 }

   :root {
     --cell-size: 200px;
     --tic-size: calc(var(--cell-size) * .9);
   }

   body {
     margin: 0;
     justify-content: center;
     align-content: center;
     text-align: center;
   }

   .sign-in {
     border: none;
   }

   .sign-up {
     border: none;
   }

   .board {
     width: 100vw;
     height: 100vh;
     display: grid;
     justify-content: center;
     align-content: center;
     grid-template-columns: repeat(3, auto)
   }

   .cell {
     width: var(--cell-size);
     height: var(--cell-size);
     border: 1.5px solid #00A0A3;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     cursor: pointer;
   }

  //  says no to clicking on a cell thats already picked
   .cell.x,
   .cell.circle {
     cursor: not-allowed;
   }

  //  block removes borders from tops, bottoms, right and left
   .cell:first-child,
   .cell:nth-child(2),
   .cell:nth-child(3) {
     border-top: none;
   }

   .cell:last-child,
   .cell:nth-child(8),
   .cell:nth-child(7) {
     border-bottom: none;
   }

   .cell:nth-child(3n + 1) {
     border-left: none;
   }

   .cell:nth-child(3n +3) {
     border-right: none;
   }

   .cell.x::before,
   .cell.x::after,
   .board.x .cell:not(.x):not(.circle):hover:before,
   .board.x .cell:not(.x):not(.circle):hover:after {
     content: '';
     position: absolute;
     width: calc(var(--mark-size) * .15);
     height: var(--mark-size);
     background-color: #0B525B;
   }

   .cell.x::before,
   .board.x::after,
   .cell.circle::before {
     background-color: black;
   }

   .board.x .cell:not(.x):not(.circle):hover::before,
   .board.x .cell:not(.x):not(.circle):hover::after,
   .board.circle .cell:not(.x):not(.circle):hover::before {
     background-color: #0B525B;
   }

   .cell.x::before,
   .board.x .cell:not(.x):not(.circle):hover::before {
     transform: rotate(45deg);
   }

    .cell.circle::before,
    .cell.circle::after,
    .board.circle .cell:not(.x):not(.circle):hover::before,
    .board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}

.win-declaration {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.win-declaration button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.win-declaration button:hover {
  background: black;
  color: white;
  border-color: white;
}

.win-declaration.show {
  display: flex;
}

